html,
body {
  background-color: #f2cc8f;
  font-family: "Source Sans Pro", sans-serif;
}

#app-container {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f2cc8f;
}
#app-title-row {
  margin-bottom: 10px;
  /* color: #212529; */
  color: #f6e6ce;
}

#app-title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#app-subtitle {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#app-footer-row {
  padding: 5px;
  font-size: 0.875em;
}

#input-output-panels-row {
  height: 80%;
  overflow: auto;
  margin-bottom: 10px;
}

#file-input-row {
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
}

#label-xml-file-input {
  background: #f4f1de;
  font-size: 0.875em;

  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#label-xml-file-input:hover {
  background: #81b29a;
  font-size: 0.875em;

  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#xml-file-input {
  display: none;
}

#drag-and-drop-textarea {
  background: #f4f1de;
  border: none;
  font-size: 0.875em;

  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0 5px 0 5px;
  border-radius: 20px;
}

#xml-text {
  font-family: "Source Sans Pro", sans-serif;
  white-space: pre-wrap;
  background: #f4f1de;
  padding: 10px 5px 10px 5px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 0.875em;
}

.btn-custom {
  background: #f4f1de;
  border-radius: 5px;
}

.btn-custom:hover {
  border-radius: 5px;
  background: #81b29a;
}
