html,
body {
  background-color: #f4f1de;
  font-family: "Source Sans Pro", sans-serif;
}

#xml-graph {
  position: absolute;
  background-color: #070715;
  padding: 20px;
}

#infocard {
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 0.875em;
  background-color: rgba(7, 7, 21, 0.2);
  color: white;
}

#infocard .list-group-item {
  background-color: rgba(7, 7, 21, 0.2);
  color: white;
}

.btn-custom {
  border-radius: 5px;
  font-size: 0.875em;
  border-radius: 6px;
  background: #f4f1de;
}

.btn-custom:hover {
  background: #81b29a;
  border-radius: 5px;
  font-size: 0.875em;
}

#home {
  margin-top: 50px;
}

#xml-table {
  font-size: 0.75em;
}

#search-input {
  font-size: 0.875em;
  border: none;
}

nav {
  background-color: #f2cc8f;
  max-height: 45px;
}

thead {
  background-color: #81b29a;
  height: 30px;
  align-items: center;
  justify-content: center;
}
